.buttonWrapper {

    button {
        display: block;
        margin: 0 auto;
        margin-top: 60px;
        border-width: 0px;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background-color: white;
    }

    button:hover {
        cursor: pointer;
    }
}