$TEACHER_JOURNAL_BLACK: #1A1A1C;
$TEACHER_JOURNAL_GREY: #545454;
$TEACHER_JOURNAL_STEELBLUE: #102B3E;
$TEACHER_JOURNAL_ORANGE: #FF914D;
$TEACHER_JOURNAL_APRICOT: #FFAC7A;

$APPLICATION_BACKGROUND_COLOR: $TEACHER_JOURNAL_BLACK;
$APPLICATION_TABLE_BACKGROUND_COLOR: $TEACHER_JOURNAL_GREY;
$APPLICATION_TABLE_HEADER_BACKGROUND_COLOR: $TEACHER_JOURNAL_STEELBLUE;
$MAIN_COLOR: $TEACHER_JOURNAL_ORANGE;
$ACTIVE_LINK_COLOR: $TEACHER_JOURNAL_APRICOT;

$PDF_SRC_ICON: "src/app/static/pictures/pdf-icon.png";
$EXCEL_SRC_ICON: "src/app/static/pictures/excel-icon.svg";