$APPLICATION_BACKGROUND_COLOR: #1A1A1C;
$APPLICATION_TABLE_BACKGROUND_COLOR: #545454;
$APPLICATION_TABLE_HEADER_BACKGROUND_COLOR: #102B3E;
$MAIN_COLOR: #FF914D;
$ACTIVE_LINK_COLOR: #FFAC7A;

$PDF_SRC_ICON: "src/app/static/pictures/pdf-icon.png";
$EXCEL_SRC_ICON: "src/app/static/pictures/excel-icon.svg";