@import 'src/app/styles/global/variables.scss';

.wrapper {
    width: 450px;
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: $APPLICATION_BACKGROUND_COLOR;
}

.pdf-export {
    content: url($PDF_SRC_ICON);
    width: 100px;
    height: 100px;
}

.excel-export {
    content: url($EXCEL_SRC_ICON);
    width: 100px;
    height: 100px;
}
