@import 'src/app/styles/global/variables.scss';

h2 {
    color: white;
    font-size: 1.75rem;
    margin-top: 40px;
    margin-left: 70px;
}

.button-wrapper {
    margin-top: 105px;
}

.subject-container::-webkit-scrollbar {
    display: none;
}

.subject-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto;

    width: 570px;
    height: 520px;
    margin: 0 auto;

    .subject-block {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 270px;
        height: 220px;
        border-radius: 15px;
        background-color: $MAIN_COLOR;
        color: white;
        font-size: 1.75rem;
        
        .delete-button {
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            background-color: yellow;
            border-radius: 50%;
            opacity: 0.2;
        }

        .delete-button:hover {
            opacity: 1;
        }
    }

    .subject-block:hover {
        cursor: pointer;
    }
}