@import 'src/app/styles/global/variables.scss';

.wrapper {
    min-height: 1000px;
    min-width: 715px;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-color: $APPLICATION_BACKGROUND_COLOR;
    overflow: auto;
}
