<h2>Add new {{instance}}</h2>
<div class="form-wrapper">    
    <form #login="ngForm" (ngSubmit)="onClickSubmit(login.value)" >
        <div *ngFor="let field of formFieldsConfig">
            <span> 
                {{field.name}} 
            </span>
            <input 
                *ngIf="field.name !== 'Description' else textAreaBlock"
                class="input-block" 
                type="text" 
                [name]="field.name" 
                [placeholder]="field.name" 
                ngModel
            >
            <ng-template #textAreaBlock>
                <textarea 
                    class="input-block textArea-block" 
                    [name]="field.name" 
                    ngModel
                ></textarea>
            </ng-template>
        </div>
        <button type="submit">
            {{submitName}}
        </button>
    </form>
</div>

