.wrapper {
    width: 30vw;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2rem;

    form {
        border-radius: 5%;
        
        div {
            display: flex;
            justify-content: space-between;
        }
    }
}