@import 'src/app/styles/global/variables.scss';

.intro {
    display: flex;
    justify-content: flex-start;
    
    .hexagon {
        display: inline-block;
        margin-left: 50px;
        margin-top: 18px;
        width: 46px;
        height: 40px;
        background: $MAIN_COLOR;
        position: relative;
    }
    .hexagon:after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 23px solid transparent;
        border-right: 23px solid transparent;
        border-top: 15px solid $MAIN_COLOR;
    }

    h1 {
        margin-left: 21px;
        margin-top: 25px;
        color: white;
        font-size: 2rem;
    }
}

ul {
    margin-top: 52px;
    min-width: 600px;
    display: flex;
    justify-content: center;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;;
        margin: 3px;
        list-style-type: none;
        border-radius: 7px;
        background-color: $APPLICATION_TABLE_BACKGROUND_COLOR;
        width: 145px;
        height: 45px;

        a {
            color: white;
            text-decoration: none;
        }
        
        a:hover {
            color: $MAIN_COLOR;
            text-decoration: underline;
        }
        
        .active-link {
            color: $ACTIVE_LINK_COLOR;
        }
    }
}
