//reset
ul {
    padding: 0;
}
//<---reset

.intro {
    display: flex;
    justify-content: start;
    
    .hexagon {
        display: inline-block;
        margin-left: 50px;
        margin-top: 18px;
        width: 46px;
        height: 40px;
        background: #FF914D;
        position: relative;
    }
    .hexagon:after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 23px solid transparent;
        border-right: 23px solid transparent;
        border-top: 15px solid #FF914D;
    }

    h1 {
        margin-left: 21px;
        margin-top: 25px;
        color: #FFFFFF;
    }
}


ul {
    margin-top: 52px;
    min-width: 600px;
    display: flex;
    justify-content: center;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;;
        margin: 3px;
        list-style-type: none;
        border-radius: 7px;
        background-color: #545454;
        color: #FAFAFA;
        width: 145px;
        height: 45px;

        a {
            color: white;
            text-decoration: none;
        }
        
        a:hover {
            color: #FF914D;
            text-decoration: underline;
        }
        
        .active-link {
            color: #ffac7a;
        }
    }
}
