<div class="wrapper">
    <div class="students" [routerLink]="['/statistics', { outlets: { 'statistic-list': ['students'] } }]">
        Students
    </div>
    <div class="subjects" [routerLink]="['/statistics', { outlets: { 'statistic-list': ['subjects'] } }]">
        Subjects
    </div>
    <div class="list-of-entities">
        <router-outlet
            name="statistic-list"
        ></router-outlet>
    </div>
    <div class="statistic-block">
        <router-outlet
            name="statistic-block"
        ></router-outlet>
    </div>
</div>